DATABASE_URL="file:./dev.db"
AUTH_MODE="demo"
ENTRA_CLIENT_ID=""
ENTRA_CLIENT_SECRET=""
ENTRA_TENANT_ID=""
JIRA_BASE_URL=""
JIRA_CLIENT_ID=""
JIRA_CLIENT_SECRET=""
JIRA_CLOUD_ID=""
DEMO_MODE="true"
ATLASSIAN_CLIENT_ID=""
ATLASSIAN_CLIENT_SECRET=""
ATLASSIAN_CALLBACK_URL="http://localhost:3000/api/auth/atlassian/callback"
ATLASSIAN_SCOPES="read:jira-work read:jira-user offline_access"
ATLASSIAN_CLOUD_ID=""
ATLASSIAN_SITE_URL=""
ATLASSIAN_SYNC_ENABLED="false"
JIRA_Q3_PORTFOLIO_ENABLED="true"
JIRA_Q3_PORTFOLIO_PROJECT="DSP"
JIRA_Q3_RELATION_MAX_ISSUES="3000"
JIRA_Q3_RELATION_CONCURRENCY="3"
